nav{
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  font-size: larger;
  z-index: 1;
}

nav .logo {
  font-family: Bungee;
  font-size: 120%;
}

.write-lg {
  color: #FFFFFF;
  font-size: 80%;
  background-color: #4056A1;
  border: unset;
  padding: .25em 1em .25em 1em;
  border-radius: 30px;
}

.write-lg:hover {
  background-color: #8fb0f6;
  color:#1d284d;
}

.write-sm {
  display: none;
  color: #FFFFFF;
  font-size: 80%;
  background-color: #4056A1;
  border: unset;
  padding: .25em 1em .25em 1em;
  border-radius: 30px;
}

.write-sm:hover {
  background-color: #8fb0f6;
  color:#1d284d;
}

.back-to-top {
position: fixed;
justify-self: right;
bottom: 2.5%;
right: 5%;
height: 70px;
width: 70px;
color: #ffffff;
font-size: 150%;
font-weight: 600;
border: solid #545149;
background-color: #00bf9f;
background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
border-radius: 50%;
}

.back-to-top:hover{
  background-color: #ff4060;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .write-lg{
    display: none;
  }
  .write-sm {
    display: block;
    font-weight: bold;
  }
}